@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono&family=Sarala:wght@400;700&display=swap');

@keyframes tecnologiasPrimeira{
    to {
        transform: translateX(+100px)
    }
}

@keyframes tecnologiasTerceira{
    to {
        transform: translateX(-100px)
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #DFE0DF;
 }


.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 5px;
    align-items: center;
    background-color: #8597bf;
    width: 100vw;
    position: fixed;
    z-index: 4;
}

.logo {
    height: 50px;
    width: 50px;
}

.cabecalho-abas {
    width: fit-content;
    display: flex;
    justify-content: end;
    gap: 4%;
    align-items: center;
}

.cabecalho-nav-item {
    font-weight: bolder;
    padding: 5px;
    min-width: fit-content;
    color: #0C2422;
    border-bottom: solid 2px #0C2422;
}

.cabecalho-nav-item:hover {
    color: #DFE0DF;
}

#curriculo {
    border: solid 2px #0C2422;
    color: #0C2422;
    border-radius: 5px;
}

#curriculo:hover {
    background-color: #0C2422;
    color: white;
}

.cabecalho-menu {
    display: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-banner {
    padding: 0vh 10vw;
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.conteudo-banner-chamada {
    font-size: 1rem;
}

.conteudo-banner-titulo {
    font-size: 3.25rem;
    font-weight: 1000;
    color: white;
    flex-wrap: wrap;
    max-width: 50vw;
}

.conteudo-banner-subtitulo {
    margin-top: 10px;
    flex-wrap: wrap;
    max-width: 50vw;
    font-weight: 100;
}

strong {
    color: white;
}

.conteudo-main {
    width: 100%;
}

.conteudo-sobre {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding: 0 10%;
    background: linear-gradient(180deg, #8597BF, #45587D); 
}

.conteudo-cabecalho {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.conteudo-titulo {
    font-size: 2rem;
}

.conteudo-sobre-linha {
    background-color: #005854;
    height: 2px;
    max-width: 30vw;
    width: 500px;
}

.conteudo-sobre-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 50px;
}

.conteudo-sobre-descricao {
    width: 400px;
    max-width: 40vw;
    margin-bottom: 50px;
    text-align: justify;
}

.conteudo-sobre-descricao-paragrafo {
    margin-top: 10px;
}

.conteudo-sobre-perfil {
    width: 15vw;
    min-width: 200px;
    height: 22.5vw;
    min-height: 300px;
    background-image: url(../img/perfil.webp);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.conteudo-sobre-perfil:hover {
    box-shadow: 5px 5px 10px black;
}

.conteudo-sobre-perfil-forma {
    background-color: #032140;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s ease;
} 

.conteudo-sobre-perfil-forma:hover {
    opacity: 0;
}

.conteudo-projetos {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, #45587D, #032140); 
    height: fit-content;
    min-height: 100vh;
    padding: 0 10%;
}

.conteudo-linha-clara {
    background-color: #00958D;
    height: 2px;
    max-width: 30vw;
    width: 500px;
}

.conteudo-projetos-projeto {
    height: 50vh;
    display: flex;
    margin-top: 50px;
}

.conteudo-projetos-projeto-imagem {
    position: absolute;
    z-index: 1;
    left: 25vw;
    width: 600px;
    max-width: 50vw;
    height: 400px;  
    max-height: 33.34vw;
}

.conteudo-projetos-projeto-imagem-link {
    width: 100%;
    height: 100%; 
    position: absolute;
    z-index: 2;
    background-image: url(../img/gitcard_projeto.webp);
    background-size: cover;
    background-position: center;
    transition: 1s ease;
    border-radius: 10px;
}

.conteudo-projetos-projeto-imagem-forma {
    width: 100%;
    height: 100%; 
    background-color: #032140;
    opacity: .7;
    transition: 1s ease;
    border-radius: 10px;
}

.conteudo-projetos-projeto-imagem-forma:hover {
    opacity: 0;
}

.conteudo-projetos-projeto-texto {
    position: absolute;
    z-index: 3;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 4% auto;
    width: 10px;
    right: 25vw;
}

.conteudo-projetos-projeto-texto-chamada {
    font-size: .7rem;
    position: relative;
    width: max-content;
}

.conteudo-projetos-projeto-texto-titulo {
    font-size: 1.5rem;
    width: max-content;
    position: relative;
    margin-bottom: 20px;
    color: white;
}

.conteudo-projetos-projeto-texto-descricao {
    width: 550px;
    max-width: 70vw;
    background-color: #45587D;
    padding: 30px 15px 30px 50px;
    position: relative;
}

.conteudo-projetos-projeto-texto-recursos {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: .7rem;
    margin: 20px 0;
    position: relative;
    width: max-content;
}

.conteudo-projetos-projeto-texto-links {
    position: relative;
    width: max-content; 
}

.conteudo-projetos-projeto-texto-links-link-img {
    width: 20px;
}

.conteudo-tecnologias {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #032140;
    color: hsl(225, 16%, 30%); 
    padding: 0 10%;
    height: fit-content;
    min-height: 50vh;
} 

 .conteudo-tecnologias-main {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    margin: 40px 0 150px;
}

.conteudo-tecnologia-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.conteudo-tecnologias-imagens-interesse {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    max-width: 80vw;
    justify-content: center;
    gap: 10px;
}

.conteudo-tecnologias-imagem-estudo {
    height: 200px;
    width: 200px;
    position: relative;
}

.conteudo-tecnologias-imagens-estudo {
    height: 700px;
    width: 700px;
}

.conteudo-tecnologias-imagem-interesse {
    width: 100px;
    height: 100px;
}

#tecnologia-imagem-primeiro {
    z-index: 0;
    left: 70px;
    animation: tecnologiasPrimeira 4s linear infinite alternate-reverse;
}

#tecnologia-imagem-segundo {
    z-index: 1;
}

#tecnologia-imagem-terceiro {
    z-index: 2;
    right: 70px;
    animation: tecnologiasTerceira 4s linear infinite alternate-reverse;
}

.conteudo-contato {
    width: 100%;
    background-color: #032140;
    padding: 0 10%;
}

.conteudo-cabecalho-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.conteudo-linha-clara-contato {
    background-color: #00958D;
    height: 2px;
    max-width: 30vw;
    width: 300px;
}

.conteudo-titulo-contato {
    text-align: center;
    font-size: 2rem;
}

.conteudo-contato-descricao {
    text-align: center;
    padding: 0 20%;
    margin: 50px 0;
}

.conteudo-contato-links-link-img {
    height: 20px;
    width: 20px;
    margin: 10px;
    transition: 1s ease;
}

.conteudo-contato-links-link-img:hover {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.conteudo-contato-links {
    position: fixed;
    left: 3vw;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30px;
}

.conteudo-contato-linha {
    background-color: #00958D;
    height: 100px;
    width: 2px;
}

.conteudo-contato-email {
    position: fixed;
    right: 3vw;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30px;
}

.conteudo-contato-email-link-texto {
    writing-mode: vertical-lr;
}

.conteudo-contato-email-link-texto:hover {
    color: white;
}

.botao-topo {
    position: fixed;
    right: 1vw;
    bottom: 1vh;
}

.seta-topo {
    height: 40px;
    width: 40px;
}

.rodape {
    background-color: #032140;
    text-align: center;
    padding: 100px 0 50px;
}

.rodape-texto {
    font-size: .7rem;
}



@media screen and (max-width: 800px) {

    @keyframes navLateral{
        from {
            opacity: 0;
        }
        to {
        opacity: 1;
        }
    }

    .cabecalho-menu {
        display: block;
        padding: 5px;
        width: 40px;
        height: 30px;
    }
    
    .cabecalho-menu-linha {
        background-color: white;
        height: 3px;
        width: 30px;
        margin-top: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .cabecalho-menu-linhaX1 {
        background-color: white;
        height: 3px;
        width: 30px;
        margin-top: 5px;
        cursor: pointer;
        transition: 0.3s;
        transform: rotate(-45deg) translateY(5.5px);
    }

    .cabecalho-menu-linhaX2 {
        display: none;
    }

    .cabecalho-menu-linhaX3 {
        background-color: white;
        height: 3px;
        width: 30px;
        margin-top: 5px;
        cursor: pointer;
        transition: 0.3s;
        transform: rotate(45deg) translateY(-5.5px);
    }

    .cabecalho-abas {
        display: none;
    }

    .cabecalho-abas-lateral {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        gap: 6%;
        height: 100vh;
        width: 50%;
        right: 0;
        top: 0;
        background-color: #8597BF;
        animation: navLateral 1s;
    }

    .cabecalho-nav-item {
        font-size: 1.2rem;
        width: 100%;
        border: none;
        text-align: center;
    }
    
    #curriculo {
        padding: 10px 40px;
        width: fit-content;
    }

    .conteudo-banner {
        background-position: 35%;
    }

    .conteudo-sobre {
        height: fit-content;
        min-height: 100vh;
    }
    
    .conteudo-sobre-div {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .conteudo-sobre-descricao {
        width: 80vw;
        max-width: none;
    }
        
    .conteudo-sobre-perfil {
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .conteudo-projetos-projeto-imagem {
        left: 10vw;
        width: 80vw;
        max-width: none;
        max-height: none;
        opacity: .3;
    }

    .conteudo-projetos-projeto-imagem-forma {
        opacity: .3;
    }
    
    .conteudo-projetos-projeto-texto {
        margin: 70px auto;
        right: 12vw;
    }
    
    .conteudo-projetos-projeto-texto-descricao {
        background-color: transparent;
        padding: 0;
    }
    
    .conteudo-projetos-projeto-texto-links-link-img {
        width: 30px;
        margin: 5px;
    }

    .conteudo-contato-links {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    
    .conteudo-contato-linha, .conteudo-linha-clara-contato, .conteudo-linha-clara, .conteudo-sobre-linha {
        display: none;
    }
    
    .conteudo-contato-email {
        position: static;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .conteudo-contato-email-link-texto {
        writing-mode: horizontal-tb;
    }
}










@media screen and (max-width: 500px) {

    .conteudo-banner-titulo {
        font-size: 2.5rem;
    }

    .conteudo-tecnologias-imagem-estudo {
        height: 100px;
        width: 100px;
        position: relative;
    }
    
    .conteudo-tecnologias-imagens-estudo {
        height: 350px;
        width: 350px;
    }
    
    .conteudo-tecnologias-imagem-interesse {
        width: 50px;
        height: 50px;
    }

    .conteudo-contato-descricao {
        padding: 0 10%;
    }
}